.fc-event {
    background-color: #FED2E2 !important;
    border: none;
    color: white;
    font-weight: bold;
    padding: 4px;
}

.fc-header-toolbar {
    padding: 12px;
    border-radius: 8px;
}

.fc .fc-button,
.fc .fc-button:focus,
.fc .fc-button.fc-button-active,
.fc .fc-button-primary,
.fc .fc-button-primary:focus,
.fc .fc-button-primary.fc-button-active {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
    color: black !important;
    border-radius: 10px;
    transition: color 0.2s ease;
}

.fc .fc-button:hover,
.fc .fc-button-primary:hover {
    color: rgba(255, 255, 255, 0.5) !important;
}

.fc .fc-button.fc-button-active,
.fc .fc-button-primary.fc-button-active {
    color: rgba(255, 255, 255, 0.5) !important;
}

.fc .fc-button:disabled,
.fc .fc-button-primary:disabled {
    opacity: 0.3 !important;
    cursor: not-allowed !important;
}

.fc .fc-day-today {
    background-color: rgba(255, 255, 255, 0.2) !important;
}

.fc-daygrid-day {
    border: none !important;
}

.fc-daygrid-day-frame {
    border: 1px solid rgba(255, 216, 245, 0.2) !important;
    position: relative;
    overflow: visible;
}

.fc .fc-scrollgrid {
    border: 1px solid rgba(255, 216, 245, 0.5) !important;
    overflow: hidden;
}

.fc .fc-scrollgrid thead .fc-col-header-cell,
.fc .fc-scrollgrid tbody .fc-daygrid-day {
    border: none !important;
}

.fc .fc-scrollgrid thead .fc-col-header-cell {
    border: 1px solid rgba(255, 216, 245, 0.5) !important;
}

