<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="littleprince.member.query.mapper.ExpHistoryQueryMapper">

    <select id="existsTodayHistory" resultType="boolean">
        SELECT EXISTS (
            SELECT 1 FROM exp_history
            WHERE member_id = #{memberId}
              AND DATE(created_at) = CURRENT_DATE
        )
    </select>

</mapper>
