<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="littleprince.member.query.mapper.MemberQueryMapper">
    <select id="findMemberByEmail" resultType="littleprince.member.query.dto.FindMemberDTO">
        SELECT
            m.member_id,
            m.email,
            m.password
        FROM
            member m
        WHERE
            m.email = #{ email }
    </select>

    <select id="findById" resultType="littleprince.member.command.domain.aggregate.MemberDTO">
        SELECT
        member_id,
        email,
        password,
        is_deleted,
        exp,
        level,
        planet_name,
        is_notification_enabled,
        is_bgm_enabled
        FROM member
        WHERE member_id = #{memberId}
    </select>
</mapper>